geopandas=0.13.2=pypi_0
matplotlib-base=3.4.3=py310h79a7439_2
matplotlib-inline=0.1.6=pyhd8ed1ab_0
pandas=1.5.3=py310h4ed8f06_0
pillow=9.0.0=pypi_0
plotly=5.14.1=py_0
plotly_express=0.4.1=py_0
shapely=2.0.1=pypi_0
streamlit=1.21.0=pyhd8ed1ab_1

